<form action="/articles/<%=params[:id]%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" id="content" name="<%=@article.content%>">
  <input type="submit" value="patch"
</form>
